[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"
isort = "*"
autoflake = "*"
coveralls = "*"
pylint = "*"
pytest = "*"
bump2version = "*"
tox = "*"
tox-pyenv = "*"
pytest-mock = "*"
pydngconverter = {editable = true,extras = ["multiproc"],path = "."}
pytest-coverage = "*"
ray = {extras = ["debug"],version = "*"}

[packages]
ray = "*"
psutil = "*"
wand = "*"
